  <div class="container row">
    <h1 class="heading text-center"><%= @sticky.title %></h1>
      <div class="center">


        <% if session[:user_id] == @sticky.user_id %>
          <h5 class="text-center">

          <%= button_to "Delete", sticky_path, method: :delete, data: {confirm: "Whoa!"} %><br>
          <%= button_to "Edit", edit_sticky_path, method: :get %>
        </h5>
        <% end %>
      </div>
      <div id="content-blocks">
        <% blocks = @sticky.content.split("`") %>
        <% blocks.each_with_index do |block, index| %>
            <% if index%2==0 %>
                <p><%=block%></p>
            <% else %>
                <pre><%=block%></pre>
            <% end %>
        <%end%>
        <% unless @sticky.image.url == "/images/original/missing.png"  %>
        <%= image_tag @sticky.image.url %>
        <% end %>
      </div>
      <div>
        <h2>Responses: </h2>

        <ul id="helps" class="small-block-grid-3">
          <% @helps.each do |help| %>
            <li><%= link_to help.title, sticky_help_path(@sticky, help) %> <p><%= help.content %></p></li>
          <% end %>
        </ul>
      </div>

      <% if session[:user_id] %>
        <%= button_to "Help", new_sticky_help_path(@sticky), method: "get", class: "button radius" %>
      <% end %>
    </div>
