<div class="row">
    <div class="text-center">
    <h1>Create A Sticky</h1>
        <%= form_for "sticky", url: stickies_path, method: 'post' do |f| %>
            <h2><%= f.label :title, class: "label" %></h2>
            <%= f.text_field :title %>
            <h2><%= f.label :content, class: "label" %></h2>
            <%= f.text_area :content, rows: 7 %>
            <p class="text-info">NOTE: you may use <kbd>`</kbd> (the grave accent character) to denote blocks of code.</p>
            <%= f.submit 'Submit Sticky', class: "button" %>
        <% end %>
    </div>
</div>