  <div class="container">
    <h1 class="heading text-center"><%= @sticky.title %></h1>
      <div class="center">
        <% if session[:current_user_id] == @sticky.user_id %>
         <h5 class="text-center"><%= link_to "Edit", edit_sticky_path %>
         <%= link_to "Delete", sticky_path, method: :delete, data: {confirm: "Whoa!"} %></h5>
        <% end %>
    <br>
    <br>
      <div>
        <% blocks = @sticky.content.split("`") %>
        <% blocks.each_with_index do |block, index| %>
            <% if index%2==0 %>
                <p><%=block%></p>
            <% else %>
                <pre><%=block%></pre>
            <% end %>
        <%end%>
        <br>
      </div>
        <h2>Responses: </h2>
        <ul>

        </ul>
      </div>
    </div>
