<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Mission Control" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<header>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to(image_tag("mission_control-small-logo.jpg", :alt=>"logo", title: "Mission Control", :id=>"logo-img"), stickies_path)%></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">

        <% if session[:user_id] %>
        <li class="active"><%=link_to "Raise a new sticky!", new_sticky_path %></li>
        <li class="active"><a href="<%= user_path(session[:user_id]) %>">Profile</a></li>
        <li class="active"><%=link_to "Log Out", session_path(session[:user_id]), method: :delete %></li>

        <% else %>

        <li class="active"><a href="/sessions/new" data-reveal-id="LoginModal">Log In</a></li>
        <li class="active"><a href="/users/new" data-reveal-id="SignupModal">Sign Up</a></li>

        <% end %>
      </ul>
    </header>

    <body>

      <%= yield %>
      <%= javascript_include_tag "application" %>
      <div id="flash">
        <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
        <% end %>
      </body>
      </html>
